.left_edge {
    border-left: 1px solid black;
}

.right_edge {
    border-right: 1px solid black;
}
.top_edge {
    border-top: 1px solid black;
}
.bottom_edge {
    border-bottom: 1px solid black;
}

#maze span{
    min-width: 100px;
    min-height: 100px;
}

